*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-image: url(storage-warehouse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    scroll-behavior: smooth;
}
.navbar {
    overflow: hidden;
    background-color: #454B66;
}
.navbar a, h1 {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar h1 {
    font-weight: 700;
    font-size: 16px;
}
.navbar-left {
    float: left;
}
.navbar-right {
    float: right;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #9CA3DB;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #454B66;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: right;
    right: 0;
}
.dropdown-content a:hover {
    background-color: #9CA3DB;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 80%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: white;
    font-size: 15px;
  }

.icon-bar a:hover {
    background-color: #000;
}
.twitter {
    background: #55ACEE;
    color: white;
}
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }